@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.merchandising-content-container {
  align-content: stretch;
  align-items: stretch;
  background: $body-bg;
  border: 1px solid $color-primary;
  box-shadow: $box-shadow-medium;
  border-radius: $border-radius-large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  margin: 40px 0px 40px 0px;
  text-decoration: none;
  transition: $transition-primary;
}

:root .blog.article .body .content .merchandising-content-container {
  /* selector specificity needed to override some preexisting styles */
  color: $gray-dark;
}

.merchandising-content-container:active,
.merchandising-content-container:focus,
.merchandising-content-container:hover {
  background: #ffffff;
  color: $gray-dark;
  text-decoration: none;
}

.merchandising-content-container:active .merchandising-arrow,
.merchandising-content-container:focus .merchandising-arrow,
.merchandising-content-container:hover .merchandising-arrow {
  transform: translateX(10px);
}

.merchandising-image {
  background-position: 0 0;
  background-size: cover;
  border-color: $divider-color;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  flex: 0 0 auto;
  max-width: 220px;
  overflow: hidden;
  width: 100%;
}

.merchandising-copy-wrapper {
  flex: 0 0 auto;
  min-height: 220px;
  overflow: hidden;
  padding: 55px 40px;
  width: 100%;
}

.merch-banner .merchandising-copy-wrapper {
  width: calc(100% - 220px);
}

.merchandising-content-container .title {
  display: block;
  font-weight: bold;
  width: 100%;
}

.merchandising-content-container .h4 {
  display: block;
  font-size: 34px;
  line-height: 42px;
}

.blog.article .merchandising-content-container .content {
  display: block;
  margin: 20px 0;
  width: 100%;
}

.merchandising-content-container .p {
  display: block;
  font-size: 24px;
  line-height: 30px;
}

.merchandising-content-container .cta-wrapper {
  display: block;
  width: 100%;
}

.merchandising-content-container .cta-text {
  color: $link-color;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.merchandising-content-container .merchandising-arrow {
  display: inline-block;
  height: 24px;
  margin-left: .25em;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
  width: 18px;
}

/* vertical sidebar version  */

.merch-sidebar {
  float: right;
  flex-wrap: wrap;
  margin: 0px 0px 40px 40px;
  max-width: 300px;
}

.blog.article .merch-sidebar .content {
  margin: 10px 0;
}

.merch-sidebar .merchandising-image {
  background-position: center center;
  background-size: cover;
  border: 0 none;
  height: 150px;
  max-width: none;
  width: 100%;
}

.merch-sidebar .merchandising-copy-wrapper {
  min-height: initial;
  padding: 20px 20px;
}

.merch-sidebar .h4 {
  font-size: 18px;
  line-height: 23px;
}

.merch-sidebar .p {
  font-size: 14px;
  line-height: 18px;
}

.merch-sidebar .cta-text {
  font-size: 14px;
  line-height: 18px;
}

.merch-sidebar .merchandising-arrow {
  height: 18px;
  width: 13px;
}

@media (max-width: 690px)
{
  .merchandising-content-container {
    flex-wrap: wrap;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  .blog.article .merch-banner .content {
    margin: 10px 0;
  }

  .merch-banner .merchandising-image {
    background-position: center center;
    background-size: cover;
    border: 0 none;
    height: 150px;
    max-width: none;
    width: 100%;
  }

  .merch-banner .merchandising-copy-wrapper {
    min-height: initial;
    padding: 20px 20px;
    width: 100%;
  }

  .merch-banner .h4 {
    font-size: 18px;
    line-height: 23px;
  }

  .merch-banner .p {
    font-size: 14px;
    line-height: 18px;
  }

  .merch-banner .cta-text {
    font-size: 14px;
    line-height: 18px;
  }

  .merch-banner .merchandising-arrow {
    height: 18px;
    width: 13px;
  }

}
